@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

html, body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    min-width: 1100px;
}

.bg{
    background-image: url("images/bg-hero-desktop.png");
    background-color: var(--Very-Pale-Cyan);
}

.navbar{
    font-family: 'Poppins', sans-serif;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
}

.logo1{
    width: 240px;
    height: 39px;
}

img{
    width: 100%;
    height: 100%;
}

.btn1{    
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: var(--Very-Dark-Cyan);
    height: 40%;
    width: 15%;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 20px;
}

.btn1:hover{
    color: var(--Grayish-Blue);
    cursor: pointer;
    transition: 0.5s;
}

.header{
    height: 750px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.block1{
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block2{
    width: 52%;
    height: 600px;
}

.lead{    
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 40px;
}

.text{
    color: var(--Very-Dark-Cyan);
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 40px;
}

.btn2{
    background-color: var(--Pink);
    height: 10%;
    width: 55%;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px var(--Grayish-Blue);
    font-weight: 600;
    color: var(--Very-Pale-Cyan);
}

.btn2:hover, .btn3:hover{
    cursor: pointer;
    background-color: rgb(254, 164, 205);
    transition: 0.5s;
}

.card{
    width: 86%;
    height: 600px;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px auto;
    align-items: center;
    justify-content: space-around;
}   

.block3, .block6, .block7{
    width: 36%;
    font-size: 26px;
}

.block4, .block5, .block8{
    width: 30%;
    height: 80%;
}

img{
    width: 100%;
    height: 100%;
    min-width: 300px;
}

.title{
    color: var(--Very-Dark-Cyan);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.comment{
    color: hsl(204, 3%, 68%);
}

.btn3{
    background-color: var(--Pink);
    height: 30%;
    width: 50%;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px var(--Grayish-Blue);
    font-size: 28px;
    font-weight: 600;
    color: var(--Very-Pale-Cyan);
}

.block9{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 360px;
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 120px;
    background-color: white;
    text-align: center;
}

.container{       
    background-color: var(--Very-Dark-Cyan);    
    height: 1000px;    
}

.c2{
    display: flex; 
    margin: auto 100px;
}

.space{
    margin-right: 20px;
}

.block11{
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    margin-left: 100px;
}

.block12, .block13{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 50px;
}

.block14{
    height: 150px;
    width: 30%;
    display: flex;
    align-items: start;
}

i{
    color: white;
    --fa-border-color:white;
    --fa-border-radius: 100%;
    --fa-border-padding: 10px;
    margin-right: 20px;
}

i:hover{
    color: var(--Pink);
    --fa-border-color: var(--Pink);
    cursor: pointer;
    transition: 0.5s;
}

.info{
    color: var(--Very-Pale-Cyan);
    font-size: 20px;
    margin-bottom: 30px;
}

a.info{
    text-decoration: none;
}

a.info:hover{
    text-decoration: underline;
}

.logo2{  
    padding-top: 250px;
    margin-left: 200px;
    margin-bottom: 50px;
}

.copy{
    display: flex;
    justify-content: end;
    margin-bottom: 200px;
}

.copyright{
    color: white;
    margin-right: 100px;
}

.attribution{
    color: white;
}

.attribution a{
    color: lightblue;
}

@media (max-width: 375px){
    html, body, img{
        min-width: auto;
    }

    .navbar{
        width: 100%;
        height: 80px;
        padding: 0px 20px 0px 20px;
    }

    .logo1{
        width: 100px;
        height: 16px;
    }

    .btn1{
        width: 26%;
        height: 30%;
        font-size: 10px;
    }

    .lead{
        font-size: 22px;
        margin-bottom: 14px;
        height: 80px;
    }

    .text{
        font-size: 15px;
        margin-bottom: 28px;
    }

    .btn2{
        height: 34px;
        font-size: 10px;
        width: 70%;
    }

    .header{
        height: 580px;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 40px;
    }   

    .block2{
        height: 200px;
        width: 100%;
    }

    .card{
        flex-direction: column;
        margin-bottom: 50px;
        padding: 40px;
        width: 90%;
        height: 450px;
        text-align: center;
    }

    .title{
        margin-bottom: 14px;
    }

    .block1, .block3, .block6, .block7{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .block11, .block12, .block13, .block14{
        width: 100%;
        margin: 0;
        justify-content: start;
    }

    .block4, .block5, .block8{
        width: 80%;
        height: 180px;
        margin-bottom: 60px;
    }

    .title{
        font-size: 20px;
    }

    .comment{
        font-size: 14px;
    }

    .block14{
        width: 10%;
        justify-content: center;
        justify-content: space-between;
    }

    .container{
        height: 1000px;
        width: 100%;
    }

    .c2{
        flex-direction: column;
        margin-bottom: 50px;
        padding: 40px;
    }

    body .card:nth-of-type(2),
    body .card:nth-child(4){
        flex-direction: column-reverse;
    }

    .block9{
        width: 95%;
        height: 160px;
        top: 60px;
    }

    .block9 .lead{
        font-size: 18px;
        height: auto;
    }

    .btn3{
        font-size: 10px;
        height: 24%;
    }

    .logo2{
        margin: 0;
        width: 100%;
        justify-content: start;
        padding-top: 150px;
    }

    .c2{
        margin: 0;
        padding: 20px;
        margin-bottom: 0px;
    }

    .info{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .block11{
        margin-bottom: 30px;
    }

    .block13{
        margin-bottom: 30px;
    }

    .block14{
        justify-content: center;
        width: 100%;
        height: auto;
    }

    i{
        color: white;
        --fa-border-color:white;
        --fa-border-radius: 100%;
        --fa-border-padding: 6px;
        margin-right: 14px;
    }

    .copy{
        justify-content: center;
    }

    .copyright{
        font-size: 12px;
        margin-bottom: 100px;
        margin-right: 0;
    }

    .attribution{
        font-size: 8px;
    }
    /*.attribution{
        color: white;
        position: relative;
        top: 100px;
        left: 120px;
    }*/
}